@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --white: #F2F2F2;
}

html[data-theme=light] {
  --link: #0B57D0;
  --bg: #F2F2F2;
  --text: #1F1F1F;
  --card: #F8FAFD;
  --border: #E1E3E1;
  --active: #CE111B;
  --hover: #E5E8ED;
  --disabled: #444746;
  --btn: #EEEEEE;
}

html[data-theme=dark] {
  --link: #A8C7FA;
  --bg: #1F1F1F;
  --text: #E3E3E3;
  --card: #28292A;
  --border: #444746;
  --active: #004A77;
  --hover: #393B3D;
  --disabled: #C9CDCA;
  --btn: #252525;
}

@font-face {
  font-family: "samsung-thin";
  src: url(/assets/fonts/SamsungSans-Thin.ttf);
  font-display: swap;
}
@font-face {
  font-family: "samsung-light";
  src: url(/assets/fonts/SamsungSans-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "samsung-regular";
  src: url(/assets/fonts/SamsungSans-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "samsung-medium";
  src: url(/assets/fonts/SamsungSans-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: "samsung-bold";
  src: url(/assets/fonts/SamsungSans-Bold.ttf);
  font-display: swap;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: unset;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  vertical-align: baseline;
  color: var(--text);
  outline: unset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  background: var(--bg);
  transition: background 0.25s;
}
body * {
  transition: color 0.5s;
}

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: var(--bg);
}
html::-webkit-scrollbar-thumb {
  background: var(--text);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--card);
}
html::-webkit-scrollbar-thumb:active {
  background: var(--bg);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background: var(--text);
  padding: 0.5rem 2rem;
}
.header-nav .col-left img {
  padding: 0 0.5rem 0 0;
}
.header-nav .col-right img {
  padding: 0 0 0 0.5rem;
}

.navbar {
  z-index: 10;
  display: flex;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid var(--border);
}
.navbar .col-left, .navbar .col-mid, .navbar .col-right {
  display: flex;
  align-items: center;
  width: 33.33%;
}
.navbar .col-left *, .navbar .col-mid *, .navbar .col-right * {
  font-size: 0.8rem;
}
.navbar .col-left {
  justify-content: flex-start;
}
.navbar .col-mid {
  justify-content: center;
}
.navbar .col-mid img {
  width: 80%;
}
.navbar .col-right {
  justify-content: flex-end;
}
.navbar .col-right a {
  padding: 0 0 0 2rem;
}/*# sourceMappingURL=style.css.map */