@charset "UTF-8";
@import url(/assets/css/reset/style.css);
.section-index-hero {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 41vh 41vh;
}
.section-index-hero .col-1 {
  grid-area: 1/1/3/2;
}
.section-index-hero .col-2 {
  grid-area: 1/2/2/3;
}
.section-index-hero .col-3 {
  grid-area: 2/2/3/3;
}
.section-index-hero .col-1, .section-index-hero .col-2, .section-index-hero .col-3 {
  position: relative;
}
.section-index-hero .col-1 img, .section-index-hero .col-2 img, .section-index-hero .col-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-index-hero .col-1 p, .section-index-hero .col-2 p, .section-index-hero .col-3 p {
  position: absolute;
  color: var(--white);
  font-family: "samsung-bold";
  font-size: 2rem;
  left: 1.5rem;
  bottom: 1.5rem;
}
.section-index-hero h1 {
  display: none;
}

.section-index-block-1, .section-index-block-2, .section-index-block-3 {
  padding: 3rem 0 0;
}
.section-index-block-1 .b-1, .section-index-block-1 .b-2, .section-index-block-1 .b-3, .section-index-block-1 .b-4, .section-index-block-1 .b-5, .section-index-block-2 .b-1, .section-index-block-2 .b-2, .section-index-block-2 .b-3, .section-index-block-2 .b-4, .section-index-block-2 .b-5, .section-index-block-3 .b-1, .section-index-block-3 .b-2, .section-index-block-3 .b-3, .section-index-block-3 .b-4, .section-index-block-3 .b-5 {
  position: relative;
}
.section-index-block-1 .b-1 h3, .section-index-block-1 .b-2 h3, .section-index-block-1 .b-3 h3, .section-index-block-1 .b-4 h3, .section-index-block-1 .b-5 h3, .section-index-block-2 .b-1 h3, .section-index-block-2 .b-2 h3, .section-index-block-2 .b-3 h3, .section-index-block-2 .b-4 h3, .section-index-block-2 .b-5 h3, .section-index-block-3 .b-1 h3, .section-index-block-3 .b-2 h3, .section-index-block-3 .b-3 h3, .section-index-block-3 .b-4 h3, .section-index-block-3 .b-5 h3 {
  position: absolute;
  font-size: 2rem;
  left: 1.5rem;
  bottom: 1.5rem;
  color: var(--white);
  font-family: "samsung-bold";
}
.section-index-block-1 .b-1 img, .section-index-block-1 .b-2 img, .section-index-block-1 .b-3 img, .section-index-block-1 .b-4 img, .section-index-block-1 .b-5 img, .section-index-block-2 .b-1 img, .section-index-block-2 .b-2 img, .section-index-block-2 .b-3 img, .section-index-block-2 .b-4 img, .section-index-block-2 .b-5 img, .section-index-block-3 .b-1 img, .section-index-block-3 .b-2 img, .section-index-block-3 .b-3 img, .section-index-block-3 .b-4 img, .section-index-block-3 .b-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s;
  filter: brightness(0.6);
}
.section-index-block-1 .b-1 img:hover, .section-index-block-1 .b-2 img:hover, .section-index-block-1 .b-3 img:hover, .section-index-block-1 .b-4 img:hover, .section-index-block-1 .b-5 img:hover, .section-index-block-2 .b-1 img:hover, .section-index-block-2 .b-2 img:hover, .section-index-block-2 .b-3 img:hover, .section-index-block-2 .b-4 img:hover, .section-index-block-2 .b-5 img:hover, .section-index-block-3 .b-1 img:hover, .section-index-block-3 .b-2 img:hover, .section-index-block-3 .b-3 img:hover, .section-index-block-3 .b-4 img:hover, .section-index-block-3 .b-5 img:hover {
  filter: brightness(0.7);
}
.section-index-block-1 .b-1 p, .section-index-block-2 .b-1 p, .section-index-block-3 .b-1 p {
  font-size: 1.75rem;
  line-height: 2.5;
  font-family: "samsung-light";
}

.section-index-block-1, .section-index-block-3 {
  display: grid;
  grid-template-columns: 0.15fr 0.15fr 0.15fr 0.25fr 0.15fr 0.15fr 0.05fr 0.15fr;
  grid-template-rows: 0 0.15fr 0.1fr 0.15fr 0.25fr 0.35fr 0.15fr 0.25fr 0.25fr 0;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.section-index-block-1 .b-1, .section-index-block-3 .b-1 {
  grid-area: 2/2/3/8;
}
.section-index-block-1 .b-2, .section-index-block-3 .b-2 {
  grid-area: 3/2/4/8;
}
.section-index-block-1 .b-3, .section-index-block-3 .b-3 {
  grid-area: 4/5/9/8;
}
.section-index-block-1 .b-4, .section-index-block-3 .b-4 {
  grid-area: 7/3/10/5;
}
.section-index-block-1 .b-5, .section-index-block-3 .b-5 {
  grid-area: 5/2/7/5;
}
.section-index-block-1 .b-2, .section-index-block-3 .b-2 {
  position: relative;
}
.section-index-block-1 .b-2 h2, .section-index-block-3 .b-2 h2 {
  position: absolute;
  font-family: "samsung-bold";
  text-align: end;
  font-size: 3rem;
  bottom: 0;
  right: 0;
}
.section-index-block-1 .b-3, .section-index-block-1 .b-5, .section-index-block-3 .b-3, .section-index-block-3 .b-5 {
  width: 100%;
}
.section-index-block-1 .b-3 img, .section-index-block-1 .b-5 img, .section-index-block-3 .b-3 img, .section-index-block-3 .b-5 img {
  width: 100%;
}
.section-index-block-1 .b-4 img, .section-index-block-3 .b-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-index-block-2 {
  display: grid;
  grid-template-columns: 0.15fr 0.05fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
  grid-template-rows: 0 0.15fr 0.1fr 0.05fr 0.05fr 0.35fr 0.15fr 0.25fr 0.35fr 0;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.section-index-block-2 .b-1 {
  grid-area: 2/2/3/8;
}
.section-index-block-2 .b-2 {
  grid-area: 3/2/4/8;
}
.section-index-block-2 .b-3 {
  grid-area: 4/2/9/5;
}
.section-index-block-2 .b-4 {
  grid-area: 5/5/7/8;
}
.section-index-block-2 .b-5 {
  grid-area: 7/5/10/7;
}
.section-index-block-2 .b-2 {
  position: relative;
}
.section-index-block-2 .b-2 h2 {
  position: absolute;
  font-family: "samsung-bold";
  text-align: end;
  font-size: 3rem;
  bottom: 0;
  right: 0;
}
.section-index-block-2 .b-3, .section-index-block-2 .b-5 {
  width: 100%;
}
.section-index-block-2 .b-3 img, .section-index-block-2 .b-5 img {
  width: 100%;
}
.section-index-block-2 .b-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-office-index {
  padding: 2rem 0 0;
}
.section-office-index h1 {
  font-size: 2rem;
  font-family: "samsung-bold";
  padding: 0 2rem 2rem;
  border-bottom: 1px solid var(--border-color);
}
.section-office-index .title-sucursales {
  padding: 2.5rem 5rem;
  font-weight: 800;
  font-size: xx-large;
}
.section-office-index .sucursal-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 18rem 18rem 18rem 18rem;
  gap: 10px;
  padding: 10px;
}
.section-office-index .sucursal-grid h2 {
  font-size: large;
  padding: 0.35rem 0;
}
.section-office-index .sucursal-grid p {
  font-size: medium;
  line-height: 1.25rem;
  padding: 0.35rem 0;
}
.section-office-index .sucursal-grid a {
  text-align: center;
  padding: 3rem 1rem;
}
.section-office-index .sucursal-grid a .whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.section-office-index .sucursal-grid a .whatsapp img {
  width: 15px;
  padding-right: 0.2rem;
}
.section-office-index .sucursal-grid a img {
  filter: grayscale(1);
}
.section-office-index .sucursal-grid a:hover img {
  filter: grayscale(0);
}

#map {
  height: 90vh;
  width: 100%;
}

#route-btn {
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.2);
  top: 19rem;
  left: 11px;
  width: 4px;
  padding: 14px;
  background: url(../svg/route.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  z-index: 9999;
  cursor: pointer;
}
#route-btn.active {
  display: none;
}

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
  -webkit-mask-image: url(../svg/gps.svg) !important;
  mask-image: url(../svg/gps.svg) !important;
}

.leaflet-control-locate.following a .leaflet-control-locate-location-arrow {
  background-color: var(--primary) !important;
}

.leaflet-marker-icon svg circle {
  fill: var(--primary) !important;
}

@media (max-width: 1024px) {
  .sucursal-grid {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 768px) {
  .sucursal-grid {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 550px) {
  #route-btn {
    top: 20.5rem;
  }
  #map {
    height: 550px;
    width: 100%;
  }
  .leaflet-routing-container h3 {
    font-size: 12px;
    font-weight: bold;
  }
  .leaflet-routing-alt table td {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }
  .leaflet-routing-container.leaflet-bar.leaflet-control {
    width: 52% !important;
  }
  .leaflet-routing-collapse-btn {
    right: 15px !important;
    font-size: 30px !important;
    color: var(--black) !important;
  }
  .leaflet-routing-container h2 {
    font-size: 14px;
    margin-right: 1rem;
  }
  .leaflet-popup-content p {
    margin: 0.5rem 0 !important;
  }
  .leaflet-popup-content p a {
    color: var(--primary);
  }
  .title-sucursales {
    padding: 2.5rem 5rem;
    font-weight: 800;
    font-size: x-large;
  }
  .sucursal-grid {
    grid-template-columns: 18rem;
  }
  .title-sucursales {
    text-align: center;
  }
}
.section-products {
  padding: 2rem;
}
.section-products header {
  padding: 1rem 0 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
.section-products header h1 {
  font-size: 2rem;
  font-family: "samsung-bold";
}
.section-products .search {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid var(--border-color);
}
.section-products .search input {
  background: unset;
  border: unset;
  border-bottom: 1px solid var(--border-color);
  padding: 0.25rem 0.5rem;
  transition: 0.25s border;
}
.section-products .search input:focus-visible {
  outline: unset;
  border-color: var(--black);
}
.section-products .grid {
  display: flex;
  position: relative;
}
.section-products .grid .col-left {
  position: sticky;
  top: 0;
  width: 25%;
}
.section-products .grid .col-left .filter .collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 1rem 1rem 0.5rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  background: unset;
}
.section-products .grid .col-left .filter .collapsible * {
  font-size: 1rem;
}
.section-products .grid .col-left .filter .collapsible.active::after {
  content: "−";
}
.section-products .grid .col-left .filter .collapsible::after {
  content: "+";
  font-size: 1.5rem;
  color: var(--text-color);
}
.section-products .grid .col-left .filter .content {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
}
.section-products .grid .col-left .filter .content.active ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 16rem;
  padding: 1rem;
}
.section-products .grid .col-left .filter .content .option {
  padding: 0.25rem 0;
}
.section-products .grid .col-left .filter .content label {
  cursor: pointer;
}
.section-products .grid .col-left .filter .content input[type=checkbox] {
  position: relative;
  top: 2px;
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid var(--secondary);
}
.section-products .grid .col-left .filter .content input[type=checkbox]:before {
  content: "";
  display: block;
  transition: transform 200ms;
}
.section-products .grid .col-left .filter .content input[type=checkbox]:checked:before {
  width: 4px;
  height: 9px;
  margin: 0px 4px;
  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  transform: rotate(45deg);
}
.section-products .grid .col-right {
  width: 75%;
}
.section-products .grid .col-right .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.section-products .grid .col-right .products .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  height: 350px;
  width: 100%;
  transition: all 0.25s;
}
.section-products .grid .col-right .products .card:nth-of-type(n+4) {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.section-products .grid .col-right .products .card:nth-of-type(-n+3) {
  border-left: 1px solid var(--border-color);
}
.section-products .grid .col-right .products .card:hover {
  border-color: var(--border-color-hover);
}
.section-products .grid .col-right .products .card:hover .top img {
  filter: brightness(1.1);
}
.section-products .grid .col-right .products .card .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.section-products .grid .col-right .products .card .top:hover img {
  max-width: 13.5rem;
  max-height: 10.5rem;
}
.section-products .grid .col-right .products .card .top img {
  max-width: 13rem;
  max-height: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.25s;
}
.section-products .grid .col-right .products .card .bottom {
  box-sizing: border-box;
  height: 35%;
  padding: 1rem;
}
.section-products .grid .col-right .products .card .bottom span {
  display: inline-block;
  background: var(--secondary);
  border-radius: 10px;
  margin: 0.25rem 0;
  padding: 0.3rem 0.75rem;
  z-index: 1;
  transition: all 0.25s;
}
.section-products .grid .col-right .products .card .bottom span:hover {
  background: var(--quaternary);
  color: var(--white);
}
.section-products .grid .col-right .products .card .bottom span b {
  color: var(--primary);
}
.section-products .grid .col-right .products .card .bottom p {
  color: var(--text-secondary-color);
}
.section-products .grid .col-right .products .card .bottom p:nth-of-type(1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 2;
  overflow: hidden;
  font-family: "samsung-medium";
}
.section-products .grid .col-right .products .card .bottom p:nth-of-type(2) {
  font-family: "samsung-light";
}/*# sourceMappingURL=style.css.map */