@charset "UTF-8";
@import url(/assets/css/reset/style.css);
.section-index-hero {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 41vh 41vh;
}
.section-index-hero .col-1 {
  grid-area: 1/1/3/2;
}
.section-index-hero .col-2 {
  grid-area: 1/2/2/3;
}
.section-index-hero .col-3 {
  grid-area: 2/2/3/3;
}
.section-index-hero .col-1, .section-index-hero .col-2, .section-index-hero .col-3 {
  position: relative;
}
.section-index-hero .col-1 img, .section-index-hero .col-2 img, .section-index-hero .col-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
  transition: all 0.25s;
}
.section-index-hero .col-1 img:hover, .section-index-hero .col-2 img:hover, .section-index-hero .col-3 img:hover {
  filter: brightness(0.8) contrast(1.2);
}
.section-index-hero .col-1 p, .section-index-hero .col-2 p, .section-index-hero .col-3 p {
  position: absolute;
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
  left: 1.5rem;
  bottom: 1.5rem;
}
.section-index-hero h1 {
  display: none;
}

.section-index-block-1, .section-index-block-2, .section-index-block-3 {
  padding: 3rem 0 0;
}
.section-index-block-1 .b-1, .section-index-block-1 .b-2, .section-index-block-1 .b-3, .section-index-block-1 .b-4, .section-index-block-1 .b-5, .section-index-block-2 .b-1, .section-index-block-2 .b-2, .section-index-block-2 .b-3, .section-index-block-2 .b-4, .section-index-block-2 .b-5, .section-index-block-3 .b-1, .section-index-block-3 .b-2, .section-index-block-3 .b-3, .section-index-block-3 .b-4, .section-index-block-3 .b-5 {
  position: relative;
}
.section-index-block-1 .b-1 h3, .section-index-block-1 .b-2 h3, .section-index-block-1 .b-3 h3, .section-index-block-1 .b-4 h3, .section-index-block-1 .b-5 h3, .section-index-block-2 .b-1 h3, .section-index-block-2 .b-2 h3, .section-index-block-2 .b-3 h3, .section-index-block-2 .b-4 h3, .section-index-block-2 .b-5 h3, .section-index-block-3 .b-1 h3, .section-index-block-3 .b-2 h3, .section-index-block-3 .b-3 h3, .section-index-block-3 .b-4 h3, .section-index-block-3 .b-5 h3 {
  position: absolute;
  font-size: 2rem;
  left: 1.5rem;
  bottom: 1.5rem;
  color: var(--white);
  font-weight: 600;
}
.section-index-block-1 .b-1 img, .section-index-block-1 .b-2 img, .section-index-block-1 .b-3 img, .section-index-block-1 .b-4 img, .section-index-block-1 .b-5 img, .section-index-block-2 .b-1 img, .section-index-block-2 .b-2 img, .section-index-block-2 .b-3 img, .section-index-block-2 .b-4 img, .section-index-block-2 .b-5 img, .section-index-block-3 .b-1 img, .section-index-block-3 .b-2 img, .section-index-block-3 .b-3 img, .section-index-block-3 .b-4 img, .section-index-block-3 .b-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s;
  filter: brightness(0.6);
}
.section-index-block-1 .b-1 img:hover, .section-index-block-1 .b-2 img:hover, .section-index-block-1 .b-3 img:hover, .section-index-block-1 .b-4 img:hover, .section-index-block-1 .b-5 img:hover, .section-index-block-2 .b-1 img:hover, .section-index-block-2 .b-2 img:hover, .section-index-block-2 .b-3 img:hover, .section-index-block-2 .b-4 img:hover, .section-index-block-2 .b-5 img:hover, .section-index-block-3 .b-1 img:hover, .section-index-block-3 .b-2 img:hover, .section-index-block-3 .b-3 img:hover, .section-index-block-3 .b-4 img:hover, .section-index-block-3 .b-5 img:hover {
  filter: brightness(0.8) contrast(1.2);
}
.section-index-block-1 .b-1 p, .section-index-block-2 .b-1 p, .section-index-block-3 .b-1 p {
  font-size: 1.75rem;
  line-height: 2.5;
  font-weight: 300;
}

.section-index-block-1, .section-index-block-3 {
  display: grid;
  grid-template-columns: 0.15fr 0.15fr 0.15fr 0.25fr 0.15fr 0.15fr 0.05fr 0.15fr;
  grid-template-rows: 0 0.15fr 0.1fr 0.15fr 0.25fr 0.35fr 0.15fr 0.25fr 0.25fr 0;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.section-index-block-1 .b-1, .section-index-block-3 .b-1 {
  grid-area: 2/2/3/8;
}
.section-index-block-1 .b-2, .section-index-block-3 .b-2 {
  grid-area: 3/2/4/8;
}
.section-index-block-1 .b-3, .section-index-block-3 .b-3 {
  grid-area: 4/5/9/8;
}
.section-index-block-1 .b-4, .section-index-block-3 .b-4 {
  grid-area: 7/3/10/5;
}
.section-index-block-1 .b-5, .section-index-block-3 .b-5 {
  grid-area: 5/2/7/5;
}
.section-index-block-1 .b-2, .section-index-block-3 .b-2 {
  position: relative;
}
.section-index-block-1 .b-2 h2, .section-index-block-3 .b-2 h2 {
  position: absolute;
  font-weight: 600;
  text-align: end;
  font-size: 3rem;
  bottom: 0;
  right: 0;
}
.section-index-block-1 .b-3, .section-index-block-1 .b-5, .section-index-block-3 .b-3, .section-index-block-3 .b-5 {
  width: 100%;
}
.section-index-block-1 .b-3 img, .section-index-block-1 .b-5 img, .section-index-block-3 .b-3 img, .section-index-block-3 .b-5 img {
  width: 100%;
}
.section-index-block-1 .b-4 img, .section-index-block-3 .b-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-index-block-2 {
  display: grid;
  grid-template-columns: 0.15fr 0.05fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
  grid-template-rows: 0 0.15fr 0.1fr 0.05fr 0.05fr 0.35fr 0.15fr 0.25fr 0.35fr 0;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.section-index-block-2 .b-1 {
  grid-area: 2/2/3/8;
}
.section-index-block-2 .b-2 {
  grid-area: 3/2/4/8;
}
.section-index-block-2 .b-3 {
  grid-area: 4/2/9/5;
}
.section-index-block-2 .b-4 {
  grid-area: 5/5/7/8;
}
.section-index-block-2 .b-5 {
  grid-area: 7/5/10/7;
}
.section-index-block-2 .b-2 {
  position: relative;
}
.section-index-block-2 .b-2 h2 {
  position: absolute;
  font-weight: 600;
  text-align: end;
  font-size: 3rem;
  bottom: 0;
  right: 0;
}
.section-index-block-2 .b-3, .section-index-block-2 .b-5 {
  width: 100%;
}
.section-index-block-2 .b-3 img, .section-index-block-2 .b-5 img {
  width: 100%;
}
.section-index-block-2 .b-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-office-index {
  padding: 2rem 0 0;
}
.section-office-index h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 2rem 2rem;
  border-bottom: 1px solid var(--border);
}
.section-office-index .title-sucursales {
  padding: 2.5rem 5rem;
  font-weight: 800;
  font-size: xx-large;
}
.section-office-index .sucursal-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 18rem 18rem 18rem 18rem;
  gap: 10px;
  padding: 10px;
}
.section-office-index .sucursal-grid h2 {
  font-size: large;
  padding: 0.35rem 0;
}
.section-office-index .sucursal-grid p {
  font-size: medium;
  line-height: 1.25rem;
  padding: 0.35rem 0;
}
.section-office-index .sucursal-grid a {
  text-align: center;
  padding: 3rem 1rem;
}
.section-office-index .sucursal-grid a .whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.section-office-index .sucursal-grid a .whatsapp img {
  width: 15px;
  padding-right: 0.2rem;
}
.section-office-index .sucursal-grid a img {
  filter: grayscale(1);
}
.section-office-index .sucursal-grid a:hover img {
  filter: grayscale(0);
}

#map {
  height: 90vh;
  width: 100%;
}

#route-btn {
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.2);
  top: 19rem;
  left: 11px;
  width: 4px;
  padding: 14px;
  background: url(../svg/route.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg);
  z-index: 9999;
  cursor: pointer;
}
#route-btn.active {
  display: none;
}

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
  -webkit-mask-image: url(../svg/gps.svg) !important;
  mask-image: url(../svg/gps.svg) !important;
}

.leaflet-control-locate.following a .leaflet-control-locate-location-arrow {
  background-color: var(--primary) !important;
}

.leaflet-marker-icon svg circle {
  fill: var(--primary) !important;
}

@media (max-width: 1024px) {
  .sucursal-grid {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 768px) {
  .sucursal-grid {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 550px) {
  #route-btn {
    top: 20.5rem;
  }
  #map {
    height: 550px;
    width: 100%;
  }
  .leaflet-routing-container h3 {
    font-size: 12px;
    font-weight: bold;
  }
  .leaflet-routing-alt table td {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }
  .leaflet-routing-container.leaflet-bar.leaflet-control {
    width: 52% !important;
  }
  .leaflet-routing-collapse-btn {
    right: 15px !important;
    font-size: 30px !important;
    color: var(--black) !important;
  }
  .leaflet-routing-container h2 {
    font-size: 14px;
    margin-right: 1rem;
  }
  .leaflet-popup-content p {
    margin: 0.5rem 0 !important;
  }
  .leaflet-popup-content p a {
    color: var(--primary);
  }
  .title-sucursales {
    padding: 2.5rem 5rem;
    font-weight: 800;
    font-size: x-large;
  }
  .sucursal-grid {
    grid-template-columns: 18rem;
  }
  .title-sucursales {
    text-align: center;
  }
}
.section-furniture {
  padding: 2rem 2rem 0;
}
.section-furniture h1 {
  opacity: 0;
  line-height: 0;
}
.section-furniture header h2 {
  font-size: 2rem;
  font-weight: 500;
}
.section-furniture .articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 450px;
  gap: 32px;
  padding: 1rem 0 0;
}
.section-furniture .articles article {
  box-sizing: border-box;
  height: 100%;
  border: 1px solid var(--border);
}
.section-furniture .articles article .col-1 {
  width: 100%;
  height: 75%;
}
.section-furniture .articles article .col-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-furniture .articles article .col-2 {
  height: 25%;
  padding: 1rem;
}
.section-furniture .articles article .col-2 h3 {
  font-weight: 500;
}

.section-products {
  padding: 2rem;
}
.section-products .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-products .search h1 {
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 900;
}
.section-products .search input {
  width: 15rem;
  background: unset;
  border: unset;
  border-bottom: 1px solid var(--border);
  padding: 0.25rem 0.5rem;
  transition: 0.25s border;
}
.section-products .search input:focus-visible {
  outline: unset;
  border-color: var(--border);
}
.section-products .grid {
  display: grid;
  position: relative;
  grid-template-columns: 0.85fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 3rem 0 0;
}
.section-products .grid .col-left {
  grid-area: 1/1/6/2;
}
.section-products .grid .col-right {
  grid-area: 1/2/6/5;
}
.section-products .grid .col-left .filter .collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border);
  background: var(--btn);
  outline: none;
  transition: all 0.5s ease-out;
}
.section-products .grid .col-left .filter .collapsible h2 {
  font-size: 1rem;
  font-weight: 500;
}
.section-products .grid .col-left .filter .collapsible.active::after {
  content: "−";
}
.section-products .grid .col-left .filter .collapsible::after {
  content: "+";
  font-size: 1.5rem;
  color: var(--text);
}
.section-products .grid .col-left .filter .content {
  display: block;
  max-height: 0;
  overflow: hidden;
}
.section-products .grid .col-left .filter .content.active {
  display: contents;
}
.section-products .grid .col-left .filter .content.active ul {
  padding: 1rem;
  background: var(--btn);
}
.section-products .grid .col-left .filter .content.active ul li {
  padding: 0.25rem 0;
}
.section-products .grid .col-left .filter .content.active ul * {
  font-size: 1rem;
  font-weight: 300;
}
.section-products .grid .col-left .filter .content label {
  cursor: pointer;
}
.section-products .grid .col-left .filter .content label b {
  color: var(--active);
}
.section-products .grid .col-left .filter .content input[type=checkbox] {
  position: relative;
  top: 2px;
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid var(--border);
}
.section-products .grid .col-left .filter .content input[type=checkbox]:before {
  content: "";
  display: block;
  transition: transform 200ms;
}
.section-products .grid .col-left .filter .content input[type=checkbox]:checked:before {
  width: 4px;
  height: 9px;
  margin: 0px 4px;
  border-bottom: 2px solid var(--active);
  border-right: 2px solid var(--active);
  transform: rotate(45deg);
}
.section-products .grid .col-right {
  padding: 0 0 0 2rem;
}
.section-products .grid .col-right .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 15px;
}
.section-products .grid .col-right .products .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: all 0.25s;
}
.section-products .grid .col-right .products .card:hover .top::before {
  background: var(--card);
}
.section-products .grid .col-right .products .card:hover .top img {
  max-width: 72.5%;
  max-height: 72.5%;
  filter: brightness(1.1) contrast(1.1);
}
.section-products .grid .col-right .products .card:hover .bottom button {
  background: var(--card);
}
.section-products .grid .col-right .products .card .top {
  transition: all 0.25s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60%;
}
.section-products .grid .col-right .products .card .top::before {
  transition: all 0.25s;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.section-products .grid .col-right .products .card .top img {
  position: relative;
  z-index: 0;
  max-width: 70%;
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.25s;
}
.section-products .grid .col-right .products .card .bottom {
  box-sizing: border-box;
  height: 40%;
  padding: 1rem 0;
}
.section-products .grid .col-right .products .card .bottom .brand {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-products .grid .col-right .products .card .bottom .brand span {
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.section-products .grid .col-right .products .card .bottom .brand span:nth-of-type(1) {
  margin: 0 0.5rem 0 0;
}
.section-products .grid .col-right .products .card .bottom p {
  color: var(--disabled);
  margin: 0.5rem 0;
}
.section-products .grid .col-right .products .card .bottom p:nth-of-type(1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}
.section-products .grid .col-right .products .card .bottom p:nth-of-type(2) {
  font-weight: 300;
}
.section-products .grid .col-right .products .card .bottom button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border);
  background: var(--btn);
  transition: all 0.25s;
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0;
}
.breadcrumb * {
  display: inline;
  font-size: 0.8rem;
  font-weight: 300;
}
.breadcrumb a {
  font-weight: 400;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb i {
  color: var(--active);
  font-size: 1.5rem;
  font-style: unset;
}

.section-product-detail {
  padding: 1rem 2rem 0;
}
.section-product-detail .product-detail {
  display: flex;
}
.section-product-detail .product-detail .left-col {
  width: 55%;
  height: 600px;
  display: inherit;
  justify-content: center;
  background: var(--btn);
}
.section-product-detail .product-detail .left-col img {
  max-width: 85%;
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2rem;
  filter: drop-shadow(0px 0px 4px var(--border));
}
.section-product-detail .product-detail .right-col {
  width: 45%;
  padding: 0 0 0 2rem;
}
.section-product-detail .product-detail .right-col .title {
  display: flex;
  flex-direction: column-reverse;
}
.section-product-detail .product-detail .right-col .title h1 {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.section-product-detail .product-detail .right-col .title h2 {
  font-weight: 300;
}
.section-product-detail .product-detail .right-col .price {
  font-size: 1.25rem;
  font-weight: 300;
}
.section-product-detail .product-detail .right-col .easy-credit {
  padding: 0.5rem 0 1.75rem;
  font-weight: 400;
}
.section-product-detail .product-detail .right-col .easy-credit * {
  color: #146C43;
}
.section-product-detail .product-detail .right-col .easy-credit:hover {
  text-decoration: underline;
}
.section-product-detail .product-detail .right-col .easy-credit img {
  width: 15%;
}
.section-product-detail .product-detail .right-col .description {
  padding: 0 0 1rem;
}
.section-product-detail .product-detail .right-col .description p {
  padding: 0.5rem 0;
  font-weight: 300;
}
.section-product-detail .product-detail .right-col .description p b {
  font-weight: 400;
}
.section-product-detail .product-detail .right-col button {
  width: 100%;
  padding: 0.5rem 1rem;
  transition: 0.25s;
  cursor: pointer;
}
.section-product-detail .product-detail .right-col button:nth-of-type(1) {
  background: var(--hover);
  border: 1px solid var(--border);
}
.section-product-detail .product-detail .right-col button:nth-of-type(1):hover {
  background: #D9D9D9;
}
.section-product-detail .product-detail .right-col button:nth-of-type(2) {
  background: var(--text);
  color: #EEC92C;
}
.section-product-detail .product-detail .right-col button:nth-of-type(2):hover {
  background: var(--disabled);
}/*# sourceMappingURL=style.css.map */